[Desktop Entry]
Categories=Game;
Comment=Launcher de différents serveurRP faisant référence de près ou de loin au serveur Galade
Exec=app
StartupWMClass=app
Icon=app
Name=Launched
Terminal=false
Type=Application
